
	<ul>
		<li>
		  <h3><a href="http://www.flickr.com/photos/toastkid" id="flickr_www"></a> </h3>
      <table id="flickr_badge_uber_wrapper" cellpadding="0" cellspacing="10" border="0">
        <% flickr_src = "http://www.flickr.com/badge_code_v2.gne?count=4&display=latest&size=m&layout=v&source=user_set&user=68697343%40N00&set=72157624870380647&context=in%2Fset-72157624870380647%2F" %>
        <% flickr_src += "&tag=#{@tag.name}" if @tag %>
        <tr>
          <td>
            <table cellpadding="0" cellspacing="10" border="0" id="flickr_badge_wrapper">
              <script type="text/javascript" src="<%= flickr_src %>"></script>
            </table>
          </td>
        </tr>
      </table>
		</li>
	</ul>      

