
  <div class="section recent_comments">
    <%= render_template('common/recent_comments') %>
  </div>  
  
  <div class="section rss">
    <%= render_template('common/rss_feeds') %>
  </div>
  
  <div class="section twitter">
    <%= render_template('common/tweetbox') %>              
  </div> 
  
  <div class="section flickr">
    <%= render_template 'common/flickr_badge' %>
  </div>               
              
