
<div class="welcome">
  <h2>Edit Site Structure</h2>
  
  <p><a href="/admin/edit_navbar">Edit the navbar structure</a></p>
  
  <p><a href="/admin/edit_homepage">Edit the contents of the homepage</a></p>
  
  <div style="clear:all;"></div>
</div>
