  <% tag = Thoth::Tag[:name => tag_name] %>
  <% if tag %>
    <div class="col span1 <%= tag.name %> contenttype1">
      <%= render_template "tag/section_contents", :tag => tag %>
    </div>
  <% end %>
