
          <p class="jumpto"><a href="#content" title="jump back to beginning of page's content">Content</a> <a href="#sidebar" title="jump to page's sidebar">Sidebar</a></p>  
          <div id="footer">
            <div id="footer2">
                 <p>Released under <a href="http://creativecommons.org/licenses/by-nd-nc/1.0/">Creative Commons license</a>. Powered by <a href="http://wiki.github.com/rgrove/thoth">Thoth</a>.  Designed by <a href="http://www.picturesandwriting.com/">Shaun Morrison</a> and <a href="http://www.shuttlewood.me/">Craig Shuttlewood</a> and built by <a href="http://www.linkedin.com/profile/view?id=49939132&locale=en_US&trk=tab_pro">Max Williams</a>.</p>
            </div>
          </div><!-- /footer2 -->    
        </div><!-- /master4 -->      
      </div><!-- /master3 -->
    </div><!-- /master2 -->
  </div><!-- /master -->         
  <%= render_template :js %>
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-11609898-1");
  pageTracker._trackPageview();
  } catch(err) {}</script>  
</body>  
</html>     
