<% @tag_rows.each_with_index do |row,i| %>
  <div class="row">
    <% row.each do |tag| %>
      <% if tag.name =~ /^homepage\:/ %>
        <%= render_template "tag/homepage_special", :tag => tag %>
      <% else %>
        <%= render_template "tag/section", :tag => tag %> 
      <% end %>
    <% end %>
  </div>
<% end %>

